@import url("./variables.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

a,
a:active,
a:visited {
    text-decoration: none;
    border: none;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

body {
    font-family: var(--font-text-primary), sans-serif;
    width: 100%;
    min-height: 100vh;
    font-size: var(--xl-font-size);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-primary);
    overflow-x: hidden;
    background-color: var(--bg-primary);
}


/* ========== header ========= */
.header-main {    
    width: 100%;    
    box-shadow: 0 4px 30px var(--color-text-primary);
    backdrop-filter: blur(6.7px);    
    opacity: 0;
    transition: opacity 0.3s;
}

.header-main.visible {
    opacity: 1;
    pointer-events: auto;
}

.container {
    width: 100%;
    min-width: 200px;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 6vw, 8rem);
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.head-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

/* for logo parallax*/
.header-logo{
    font-size:  clamp(1rem, 0.6364rem + 1.8182vw, 2rem);
    opacity: 0;
    transform: translateY(50px) scale(0.8);       
}

.header-logo a{
    text-decoration: none;
    color: var(--color-text-ternary);
}

.header-logo a:hover{
    color: var(--color-text-base);
}

.toogle-nav-open {
    display: block; 
}

.toogle-nav-close {
    position: relative;
    width: 40px;
    height: 40px;    
    cursor: pointer;
    margin-inline-start: auto;
    margin-block-end: 8rem;
    
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
    color: var(--color-text-ternary);
    overflow: hidden;
}

.nav-link {
    position: relative;
    font-family: var(--font-title-primary);
    color: var(--text-primary);    
    padding-bottom: 5px;   
    transition: color 0.3s ease-in-out;
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:var(--color-text-base);
    transform: translateX(-100%);    
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    will-change: transform, background-color;
}

.nav-link:hover{
    color: var(--color-text-base);
}

.nav-link:hover::after{
    transform: translate(0);
}

.nav-link.active{
    color: var(--color-accent);    
}

.nav-link.active::after{
    transform: translateX(0);
    background-color: var(--color-accent);
}



/* ========== hero banner ========= */
.landscape {
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.landscape-layer {
    height: 100%;
    position: absolute;
    width: 100%;    
}

.landscape-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*group 2*/
.layer-back {
    z-index: 1;

    transform: translateZ(5vw) scale(1.5);
}

.layer-mid {
    z-index: 2;
    transform: translateZ(-5px) scale(1.2);
}

.layer-front {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
}

.layer-front img {
    max-height: 70vh;
}

.landscape__image svg {
    display: block;
    height: auto;
    max-width: 100%;
}

.center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: var(--color-text-base);
    font-size: clamp(1.5rem, 0.5909rem + 4.5455vw, 4rem);
    text-shadow: 0 4px 20px var(--color-accent);
    will-change: transform, opacity;    
}


.center-logo,
.header-logo{
    font-family: var(--font-header), sans-serif;
    font-weight: var(--font-weight-bold);
    letter-spacing: 4px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* ========== small movile ========= */
@media (min-width: 200px) and (max-width: 480px) {
    body {
        font-size: var(--xs-font-size);
    }
}

/* ========== movile ========= */
@media (min-width: 481px) and (max-width:767px) {
    body {
        font-size: var(--sm-font-size);
    }
}

/* ========== tablet ========= */
@media (width >=768px) and (width <=1024px) {
    body {
        font-size: var(--lg-font-size);
    }
}

/* ========== destok ========= */
@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        font-size: var(--xl-font-size);
    }
}

/* ========== destok 2xl ========= */
@media (min-width: 1201px) {
    body {
        font-size: var(--2xl-font-size);
    }

}

@media (max-width: 1024px) {
    .header-main{
        opacity: 1;
    }

    .header-logo{
        order: 0;
    }

    .topnav-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 22px;
        padding-inline: clamp(1rem, 6vw, 8rem);
        height: 100vh;
        background-color: var(--bg-secundary);
        transform: translateX(100%);
        transition: translate 0.5 ease-in-out;
    }

    .toogle-nav-open{
        position: absolute;
        right: 0;
        padding: 22px;
        order: 1;
    }

    .topnav-menu[data-visible="true"] {
        transform: translateX(0);
    }

    .nav-links {
        flex-direction: column;
    }

    .hero-banner {
        background-position: center;
    }

}


@media (min-width: 1025px) {
    .container{
        max-width: 1400px;
    }

    .header-main {
        background-color: transparent;
    }

    .toogle-nav-open,
    .toogle-nav-close {
        display: none;
    }

}

/*

 background-image: linear-gradient(to right top, #37306b, #4b3472, #5f3978, #723d7d, #854181, #894182, #8d4182, #914183, #873d82, #7c3a81, #713780, #66347f);
*/