@import url("./variables.css");

body {    
    color: var(--text-primary);
    font-family: "Karma", sans-serif;
    transition: all 0.3s ease;
    padding: 2rem;
    min-height: 100vh;
    overflow-x: hidden;
}

.flex {
    display: flex;
}


/* =========== HEADER ============= */
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    left: 0;
    top: 0;
    padding: 1.3rem 10%;
    z-index: 100;
}

.header-logo {
    font-size: 2rem;
    color: var(--text-primary);
}

.header-logo img {
    width: 60px;
    height: 60px;
}

/* =========== navbar ============= */
.primary-nav {
    list-style: none;
    gap: calc(1rem+1vw);
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 90;
}

.primary-nav a {
    color: var(--text-primary);
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
}

/* =========== movile toogle button ============= */
.movile-toogle-nav {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    gap: 6px;
}

.movile-toogle-nav span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
    position: relative;
}

.movile-toogle-nav.open {
    gap: 0;
}

.movile-toogle-nav.open span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute
}

.movile-toogle-nav.open span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}

.movile-toogle-nav.open span:nth-child(3) {
    transform: rotateZ(-45deg);
    position: absolute;
}



@media (max-width: 780px) {
    .primary-nav {
        position: fixed;
        inset: 0 0 0 30%;
        gap: 2rem;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        transform: translateX(100%);

    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .movile-toogle-nav {
        display: flex;
    }

    .movile-toogle-nav span,
    .primary-nav a{
        color: black;
    }


}