@import url("../../css/variables.css");
@import url("../../css/main.css");

.checkout-container {
    max-width: 800px;    
    margin: 50px auto;
    padding: 40px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 4px 6px var(--primary-color-black);
}
.checkout-container h2{
    padding-bottom: 1rem;
    line-height: 24px;
    font-family: var(--font-subheading);
    color: var(--primary-color-black);
    font-weight: 500;
    font-size: var(--heading-subtitle);    
}


label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #555;
}

.text-line{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: none;
    color: var(--text-color-1)
}

.separate{
    width: 220px;
    height: var(--hbutton);
    vertical-align: middle;
}
.back-link {
    display: inline-block;
    margin-top: 20px;
    color: var(--text-color-2);
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
    color: var(--text-color-1);
}