@import url("../../css/variables.css");

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    gap: 20px;
}

.logimg {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.formulario {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario h2 {
    font-size: var(--heading-subtitle);
    line-height: 24px;
    margin-bottom: 30px;    
    font-family: var(--heading-subtitle);
    color: var(--primary-color-black);
}

.formulario form input[type="text"],
.formulario form input[type="password"]{
    border-radius: var(--border-radius-md);
    outline: none;
    margin-bottom: 10px;
}


.campo-texto{
    width:300px;
    padding: 8px;
    border: 1px solid #ddd;
}


.formulario form > span{
    margin-right: 10px;
}

.formulario form span > a {
    color: var(--text-color-2);
}